a:link, a:visited, a:hover, a:focus,
a:active {

	color: #ffcc00

}

header .logo .logo-line-1 {

	padding: 43px 20px 0 20px;

}

header .logo .logo-line-1 img {

	width: 172px;
	height: auto;

}

header .logo .logo-triangle {

	border-width: 0 106px 40px 106px;

	position: absolute;
	bottom: 0;

}

@media ( max-width: 400px ) {

	header .logo .logo-line-1 {

		padding: 43px 10px 0 10px;

	}

	header .logo .logo-line-1 img {

		width: 132px;
		height: auto;

	}

	header .logo .logo-triangle {

		border-width: 0 76px 40px 76px;

		position: absolute;
		bottom: 0;

	}

}

.col-lg-8 {

	margin-right: auto !important;
	margin-left: auto !important;
	float: none !important;

}

@media ( min-width: 1200px ) {

	.col-lg-8 {

		width: 60% !important;
		margin-right: auto;
		margin-left: auto;
		min-width: 1200px;

	}

}

section.main-content {

	padding-right: 0;
	padding-left: 0;

}

.youtube-video {

	width: 100%;
	height: 0;

	padding-bottom: 56.25%;

	position: relative;


}

.youtube-video iframe {

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

}

.nav-button.active {

	left: 30px;

}

main section#section-start {

	height: auto;
	min-height: 100vh;

	margin-bottom: 3em;

}
main section#section-start .section-inner {

	height: auto;
	min-height: 100vh;

	padding-top: 180px;

}

.home main section#section-start .section-inner {

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 2 */

	flex-direction: column;
	justify-content: center;

}

.home main section#section-start .section-inner * {

	height: auto;
	width: max-content;
	margin-left: -2em;
	margin-right: -5em;

}

main section#section-start .section-inner .container-fluid .row div[class^="col-"] {

	width: 100%;

}

.home main section#section-start .section-inner .container-fluid .row div[class^="col-"] {

	padding-right: 0;
	padding-left: 0;

}
main section#section-start .section-inner .teaser-image {

	margin-bottom: 50px;

}

main section#section-start .section-inner img {

	max-width: 100%;
	height: auto;

	box-shadow: 0 0 20px rgba(97, 76, 20, .2);

	border: 2px solid #fff;

	margin: 0 auto;

	display: block;

}

.home main section#section-start .section-inner img {

	box-shadow: none;
	border: 0 none;


}

#section-start .teaser {

	right: 0;
	left: 0;

}

main section#section-start .section-inner h1,
#section-start h1 {

	border-top: 2px solid #fff;
	text-align: center;
	padding-top: 20px;

}

main section#section-start .section-inner h1:last-child,
#section-start h1:last-child {

	border-bottom: 2px solid #fff;
	padding-top: .5em;
	padding-bottom: .3em;

}

#section-start .archive-image {

	width: 100% !important;
	max-width: 1200px;
	height: 400px !important;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	box-shadow: 0 0 20px rgba(97, 76, 20, .2);

	border: 2px solid #fff;

	margin: 2em auto 0 auto;

	position: relative;
	overflow: hidden;

}

#section-start .archive-image::before {

	content: '';

	background: rgba(255, 199, 52, .1);
	mix-blend-mode: color;

	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


}

@media ( max-width: 400px ) {

	#section-start .archive-image {

		width: 220px !important;
		height: 220px !important;

		margin-top: 4em;

	}

}

#section-start .archive-image img {
	visibility: hidden;

}

main section .section-inner {

	padding-top: 0;
	padding-bottom: 0;

}

.home .main-content .entry-title,
.home .main-content .entry-footer {

	display: none;

}

.main-content .menu-with-images .menu,
.main-content .categories-list {

	margin-left: -2%;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 2 */

	flex-wrap: wrap;

	list-style-type: none;

}

.main-content .menu-with-images .menu-item,
.main-content .categories-list .categories-list-entry {

	min-width: 320px;
	margin: 0 0 0 2%;
	flex: 1 1 48%;

}

.main-content .menu-with-images .menu-item a,
.main-content .categories-list .categories-list-entry-link {

	color: inherit;

}

.main-content .menu-with-images .menu-item img,
.main-content .categories-list .categories-list-entry-image {

	max-width: 100%;
	min-width: 100%;
	height: auto;

}

@media (hover:hover) {
	.main-content .menu-with-images .menu-item img,
	.main-content .categories-list .categories-list-entry-link .categories-list-entry-image {

		opacity: .7;

	}

	.main-content .menu-with-images .menu-item a:hover img,
	.main-content .menu-with-images .menu-item a:focus img,
	.main-content .categories-list .categories-list-entry-link:hover .categories-list-entry-image,
	.main-content .categories-list .categories-list-entry-link:focus .categories-list-entry-image {

		opacity: 1;

	}
}

.category-posts,
.archive .site-main {

	margin-left: -2%;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 2 */

	flex-wrap: wrap;
}

.category-posts > article,
.archive .site-main > article {

	min-width: 320px;

	background: #f8f8f8;
	border-top: 3px solid rgba(255, 199, 52, .6);

	margin: 0 0 2em 2%;
	padding: 1em 1em 0 1em;

	flex: 1 1 48%;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 2 */

	flex-direction: column;
	justify-content: space-between;

}

.category-posts > article .entry-title,
.archive .site-main > article .entry-title {

	display: none;

}

.category-posts > article iframe,
.archive .site-main > article iframe {

	max-width: 100%;
	margin: 0 auto;
	display: block;

}

.category-posts > article .entry-footer,
.archive .site-main > article .entry-footer {

	width: calc(100% + 2em);

	border-bottom: 3px solid rgba(255, 199, 52, .6);

	margin-left: -1em;
	padding-right: 0;
	padding-left: 1em;

}

.category-posts > article .entry-footer .comments-link .svg-icon,
.category-posts > article .entry-footer .comments-link a,
.archive .site-main > article .entry-footer .comments-link .svg-icon,
.archive .site-main > article .entry-footer .comments-link a {

	vertical-align: middle;

}

.category-posts > article .entry-footer .comments-link a,
.archive .site-main > article .entry-footer .comments-link a {

	font-size: 16px;
	padding-left: .5em;

}

.single .site-main iframe {

	max-width: 100%;
	margin: 0 auto;
	display: block;

}

main section .section-inner .container-fluid .row div[class^="col-"] {

	padding-right: 15px;
	padding-left: 15px;

}

main section .section-inner .section-content ol,
main section .section-inner .section-content ul {

	margin-bottom: 2em;
	list-style-type: disc;
	
}

main section .section-inner h2 {

	line-height: 1em !important;

}

@media ( max-width: 1000px ) {

	main section .section-inner h2 {

		font-size: 2.6em !important;

	}

}

.comments-area {

	font-size: 16px;
	margin-top: 4em;

}

.comments-area .comments-title {

	margin-bottom: 1em;

}

.comments-area ol li::before {

	display: none;

}

.comments-area .discussion-meta {

	display: none;

}

.comments-area ol {

	list-style-type: none;

}

.comments-area .comment {

	border-bottom: 3px solid rgba(255, 199, 52, .6);
	margin-bottom: 1em;
	padding-bottom: 1em;

}

.comments-area .comment .comment-author,
.comments-area .comment .comment-meta {

	font-size: .8em;

}

.comments-area .comment .comment-meta {

	margin-bottom: .5em;

}

.comments-area .comment:last-child {

	border-bottom: 0 none;

}

.comments-area .comment-form-flex {

	background: #f8f8f8;
	/*border-top: 3px solid rgba(255, 199, 52, .6);*/
	/*border-bottom: 3px solid rgba(255, 199, 52, .6);*/

	padding: 1em;

}

.comments-area .comment-form p {

	margin-bottom: 1.5em;

}

.comments-area .comment-form label,
.comments-area .comment-form textarea,
.comments-area .comment-form input {

	width: 100%;
	display: block;

}

.comments-area .comment-form .comment-form-cookies-consent label,
.comments-area .comment-form .comment-form-cookies-consent input {

	width: auto;
	display: inline-block;

}

.comments-area .comment-form .comment-form-cookies-consent label {

	padding-left: .5em;

}

.comments-area .comment-form textarea,
.comments-area .comment-form input[type="text"] {

	padding: .5em;

}

.comments-area .comment-form .comment-form-url {

	display: none

}

.comments-area .comment-form .submit {

	width: auto;

	color: #fff;
	font-weight: bold;

	background: #ffc734;
	border: 0 none;

	padding: .5em;

}

.comments-area .comment-form .submit:hover,
.comments-area .comment-form .submit:focus {

	background: #000;

}

body > footer {

	margin-top: 3em;
	margin-bottom: 1em;

}

footer .back-to-top {

	bottom: 10px;

}
