.vc_tta-accordion {
    color: $font-color;
    margin-top: 60px;
    margin-bottom: 230px;
    .vc_tta-panel {
        margin-bottom: 35px;
        border-top: 1px solid $font-color;
        padding-top: 35px;
        /*&:nth-child(n+6) {
            display: none;
        }*/
        .vc_tta-panel-body {
            display: none;
            margin-top: 45px;
            .wpb_text_column {
                max-width: 60%;
            }
            .wpb_images_carousel {
                height: 270px;
                img {
                    //max-width: 395px;
                    max-height: 270px;
                }
            }
            a {
                color: yellow;
                text-decoration: underline;
            }
        }
        &.vc_active {
            .vc_tta-panel-body {
                display: block;
            }
        }
        .vc_tta-panel-heading {
            a {
                text-decoration: none;
            }
            .vc_tta-title-text {
                color: $font-color;
                font-size: 16px;
                line-height: 26px;
                max-width: 80%;
                display: inline-block;
                @media(min-width: 768px) {
                    font-size: 60px;
                    line-height: 70px;
                }
            }
            .vc_tta-icon {
                color: $font-color;
            }
        }
    }
}

.background-darkgrey {
    .vc_tta-accordion {
        color: white;
        .vc_tta-panel {
            border-top-color: white;
            .vc_tta-title-text,
            .vc_tta-icon {
                color: white;
            }
        }
    }
}

.accordion-load-more-button {
    position: relative;
    top: -125px;
    margin-bottom: 0;
    .vc_btn3 {
        color: white !important;
        border-color: white !important;
        background: transparent !important;
    }
    &:hover {
        a {
            background: white;
            border-color: white;
            color: $font-color !important;
        }
    }
}


/* Control Icons For Accordions
 * ============================= */

.vc_tta {
    .vc_tta-controls-icon {
<<<<<<< HEAD
        height: 35px;
        width: 35px;
=======
        display: block;
        vertical-align: middle;
        height: 35px;
        width: 35px;
        position: relative;
        font-size: inherit;
        margin: 0;
        float: right;
        margin-right: 10px;
        -webkit-transition: rotate .2s ease-in-out;
        transition: rotate .2s ease-in-out;
    }
    .vc_active {
        .vc_tta-controls-icon {
            transform: rotate(45deg);
            -webkit-transition: rotate .2s ease-in-out;
            transition: rotate .2s ease-in-out;
        }
>>>>>>> 46b139dc8345d814304fce5dc4fbf9d0f4ff0271
    }
}


/* Control Icons
 * ============================= */

.vc_tta {
    .vc_tta-controls-icon {
        // Plus Control Icon
        &.vc_tta-controls-icon-plus {
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 35px;
                background: $font-color;
                top: 17px;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                box-sizing: border-box;
                height: 35px;
                width: 1px;
                left: 17px;
                background: $font-color;
            }
        }
    }
}

.background-darkgrey {
    .vc_tta {
        .vc_tta-controls-icon {
            &.vc_tta-controls-icon-plus {
                &::before {
                    background: white;
                }
                &::after {
                    background: white;
                }
            }
        }
    }
}